.btn {
    padding: 0rem 1.6rem;
    line-height: 4.1rem;
    display: inline-block;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid transparent;
    transition: color .3s, background-color .3s;

    img {
        margin-right: 0.8rem;
    }

    &-primary {
        background-color: $primary-default;
        border-color: $primary-default;
        display: inline-flex;
        align-items: center;

        &:hover {
            background-color: $primary-light;
        }
    }

    &-outline {
        border-color: #FFFFFF;
        background-color: transparent;

        &:hover {
            color: $neutral-200;
            background-color: #FFFFFF;
        }
    }
}

.card-game {
    display: block;
    width: 100%;
    max-width: 28rem;

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    .image {
        overflow: hidden;
        border-radius: 5px;
        width: 100%;
        height: 38.4rem;
        margin-bottom: 2.4rem;

        img {
            transition: transform .3s ease-in;
        }
    }

    .info {

        h3 {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #E5E5E5;
            margin-bottom: 0.4rem;
        }

        span {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: rgba(229, 229, 229, 0.8);
        }
    }

    @media(max-width: 991px) {
        width: 100%;
        max-width: 20.1rem;

        .image {
            height: 28.3rem;
            margin-bottom: 1.7rem;
        }

        .info {
            h3 {
                font-size: 1.6rem;
            }
        }

    }

    @media(max-width: 830px) {
        width: 100%;
        max-width: 18rem;

        .image {
            height: 24.5rem;
            margin-bottom: 0.5rem;
        }

    }

    @media(max-width: 560px) {
        width: 100%;
        max-width: 18rem;

        .image {
            max-width: 15.5rem;
            height: 21.7rem;
            margin-bottom: 0.5rem;
        }

        .info {
            h3 {
                display: none;
            }

            span {
                display: none;
            }
        }
    }

}